<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./vue.js"></script>
</head>

<body>

<div id="app">
    <h1>{{ title }}</h1>
    <button class="update" @click="title = 'Changed'">Update title</button>
    <button class="update" @click="destroy">destroy</button>
</div>

<script src="./app.js"></script>
</body>

</html>