<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./vue.js"></script>
</head>

<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    </ul>

    <button @click="ingredients.push('spices')" :key="ingredient">Add new</button>

    <hr>

    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }} - {{ value }} ({{ index }})</div>
        </li>
    </ul>

    <span v-for="n in 10">{{ n }}</span>

    <hr>
    <template v-for="(ingredient, i) in ingredients">
        <h1>{{ ingredient }}</h1>
        <h1>{{ i }}</h1>
    </template>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        { name: 'Max', age: 27, color: 'red' },
        { name: 'Anna', age: 'unknown', color: 'blue' }
      ]
    },
  })
</script>
</body>

</html>