<template xmlns:v-local-highlight="http://www.w3.org/1999/xhtml"
          xmlns:v-highlight="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives</h1>
                <p v-text="'Some Text'"></p>
                <!-- if you're going to use this v-html tag, make sure html is sanitized -->
                <p v-html="'<strong>Some Text</strong>'"></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives</h1>
                <p v-highlight:background.delayed="'lightcoral'">Color this</p>
                <p v-local-highlight:background.delayed.blink="{
                                mainColor: 'lightcoral',
                                secondColor: 'lightgreen',
                                delay: 500 }">
                    Color this
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            'local-highlight': {
                bind(el, binding, vnode) {
                    let delay = 0
                    if (binding.modifiers['delayed']) {
                        delay = 3000
                    }
                    if (binding.modifiers['blink']) {
                        let mainColor = binding.value.mainColor
                        let secondColor = binding.value.secondColor
                        let currentColor = mainColor
                        setTimeout(function () {
                            setInterval(() => {
                                currentColor === secondColor ?
                                    currentColor = mainColor : currentColor = secondColor
                                if (binding.arg === 'background') {
                                    el.style.backgroundColor = currentColor
                                } else {
                                    el.style.color = currentColor
                                }
                            }, binding.value.delay)
                        }, delay)
                    } else {
                        setTimeout(function () {
                            if (binding.arg === 'background') {
                                el.style.backgroundColor = binding.value.mainColor
                            } else {
                                el.style.color = binding.value.mainColor
                            }
                        }, delay)
                    }
                }
            }
        }
    }
</script>

<style>

</style>
