<template>
    <div>
        <button class="btn btn-primary" @click="asyncIncrement({ step: 100 })">Increment</button>
        <button class="btn btn-primary" @click="asyncDecrement({ step: 100 })">Decrement</button>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        methods: {
            // ...mapMutations(['increment', 'decrement'])
            ...mapActions(['asyncIncrement', 'asyncDecrement']),
            asyncIncrement(by) {
                this.$store.dispatch('asyncIncrement', by)
            },
            asyncDecrement(by) {
                this.$store.dispatch('asyncDecrement', by)
            }
        }
    }
</script>