<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <button v-on:click="increase(2, $event)">Click me</button>
    <p>{{ counter }}</p>
    <input type="text" v-on:keyup.enter="alertMe">
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        x: 0,
        y: 0
      },
      methods: {
        increase: function (step, $event) {
          this.counter += step
        },
        updateCoordinates: function (event) {
          this.x = event.clientX
          this.y = event.clientY
        },
        alertMe: function() {
          alert('Alert!')
        }
      }
    })
  </script>
</body>

</html>