<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>File a Complaint</h1>
                    <hr>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="text"
                               id="email"
                               class="form-control"
                               :value="userData.email"
                               @input="userData.email = $event.target.value">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               id="password"
                               class="form-control"
                               v-model="userData.password">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number"
                               id="age"
                               class="form-control"
                               v-model="userData.age">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="message">Message</label><br>
                    <!-- Interpolation between <textarea>{{ test }}</textarea> doesn't work!-->
                    <textarea id="message"
                              rows="5"
                              class="form-control"
                              v-model="message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="sendmail">
                            <input type="checkbox"
                                   id="sendmail"
                                   value="SendMail"
                                   v-model="sendMail"> Send Mail
                        </label>
                        <label for="sendInfomail">
                            <input type="checkbox"
                                   id="sendInfomail"
                                   value="SendInfoMail"
                                   v-model="sendMail"> Send Infomail
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="male">
                        <input type="radio"
                               id="male"
                               value="Male"
                               v-model="gender"> Male
                    </label>
                    <label for="female">
                        <input type="radio"
                               id="female"
                               value="Female"
                               v-model="gender"> Female
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                    <label for="priority">Priority</label>
                    <select id="priority"
                            class="form-control"
                            v-model="selectedPriority">
                        <option v-for="priority in priorities">{{ priority }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <app-switch v-model="dataSwitch"></app-switch>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button class="btn btn-primary"
                            @click.prevent="submitted">
                        Submit!
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <strong>Mail:</strong>
                            <div>{{ userData.email }}</div>
                        </div>
                        <div>
                            <strong>Password:</strong>
                            <div>{{ userData.password }}</div>
                        </div>
                        <div>
                            <strong>Age:</strong>
                            <div>{{ userData.age }}</div>
                        </div>
                        <div style="white-space: pre">
                            <strong>Message:</strong>
                            <div>{{ message }}</div>
                        </div>
                        <p><strong>Send Mail?</strong></p>
                        <ul>
                            <li v-for="item in sendMail">{{ item }}</li>
                        </ul>
                        <div>
                            <strong>Gender:</strong>
                            <div>{{ gender }}</div>
                        </div>
                        <div>
                            <strong>Priority:</strong>
                            <div>{{ selectedPriority }}</div>
                        </div>
                        <div>
                            <strong>Switched:</strong>
                            <div>{{ dataSwitch }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Switch from './Switch.vue'

    export default {
        data() {
            return {
                userData: {
                    email: '',
                    password: '',
                    age: 27
                },
                message: 'A new text',
                sendMail: [],
                gender: 'Male',
                selectedPriority: 'High',
                priorities: ['High', 'Medium', 'Low'],
                dataSwitch: true,
                isSubmitted: false
            }
        },
        methods: {
          submitted() {
              this.isSubmitted = true
          }
        },
        components: {
            'app-switch': Switch
        }
    }
</script>

<style>

</style>
