<template>
    <div class="container">
        <app-header :quote-count="quotes.length" :max-quotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">Info: Click on a Quote to delete it!</div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from './QuoteGrid.vue'
    import NewQuote from './NewQuote.vue'
    import Header from './Header.vue'

    export default {
        data: function () {
            return {
                quotes: ['Just a quote to see something'],
                maxQuotes: 10
            }
        },
        methods: {
            newQuote: function (quote) {
                if (this.quotes.length >= this.maxQuotes) {
                    return alert('Please delete some quotes first!')
                }
                this.quotes.push(quote)
            },
            deleteQuote: function (index) {
                this.quotes.splice(index, 1)
            }
        },
        components: {
            'app-quote-grid': QuoteGrid,
            'app-new-quote': NewQuote,
            'app-header': Header
        }
    }
</script>

<style>
</style>
