<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="name">
    <p>{{ name }}</p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        name: 'Clement'
      }
    })
  </script>
</body>

</html>