<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./vue.js"></script>
</head>

<body>
<div id="app">
    <p v-if="show">You can see me!</p>
    <p v-else>Do you also see me?</p>
    <template v-if="show">
        <p>Inside a template</p>
    </template>
    <button @click="show = !show">Switch</button>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      show: true
    },
  })
</script>
</body>

</html>