<template>
  <div>
    <app-server-status v-for="server in 5"></app-server-status>
  </div>
</template>

<script>
  import ServerStatus from './ServerStatus'

  export default {
    // registering local component
    components: {
      // ideal to use this format because you can add
      // a unique selector here with company / project name
      // so they don't clash down the line
      'app-server-status': ServerStatus
    }
  }
</script>

<style scoped>
  div {
    border: 1px solid red
  }
</style>
