<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./vue.js"></script>
</head>

<body>

<div id="app1">
    <h1 ref="heading">{{ title }}</h1>
    <button @click="show"ref="myButton">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
</div>

<div id="app2">
    <h1 ref="heading">{{ title }}</h1>
    <button @click="onChange">Change something in Vue 1</button>
</div>

<div id="app3"></div>

<script src="./app.js"></script>
</body>

</html>