<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Animations</h1>
                <hr>
                <select v-model="alertAnimation" class="form-control">
                    <option value="fade">Fade</option>
                    <option value="slide">Slide</option>
                </select>
                <hr>
                <button class="btn btn-primary" @click="show = !show">Show Alert</button>
                <br>
                <br>
                <transition :name="alertAnimation">
                    <div class="alert alert-info" v-if="show">This is some info</div>
                </transition>
                <transition name="slide" type="animation">
                    <div class="alert alert-info" v-if="show">This is some info</div>
                </transition>
                <transition appear
                            enter-active-class="animated bounce"
                            leave-active-class="animated shake">
                    <div class="alert alert-info" v-if="show">This is some info</div>
                </transition>
                <transition :name="alertAnimation" mode="out-in">
                    <div class="alert alert-info" v-if="show" key="info">This is some info</div>
                    <div class="alert alert-warning" v-if="!show" key="warning">This is some warning</div>
                </transition>
                <hr>
                <!-- using JS Animations hooks -->
                <button class="btn btn-primary" @click="load = !load">Load / Remove Element</button>
                <br>
                <br>
                <transition @before-enter="beforeEnter"
                            @enter="enter"
                            @after-enter="afterEnter"
                            @enter-cancelled="enterCancelled"
                            @before-leave="beforeLeave"
                            @leave="leave"
                            @after-leave="afterLeave"
                            @leave-cancelled="leaveCancelled"
                            :css="false">
                    <div style="width: 300px; height: 100px; background-color: lightgreen" v-if="load"></div>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="selectedComponent === 'app-success-alert' ? selectedComponent = 'app-danger-alert' : selectedComponent = 'app-success-alert'">Toggle Components</button>
                <br><br>
                <transition name="slide-in" mode="out-in">
                    <component :is="selectedComponent"></component>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="addItem">Add Item</button>
                <ul class="list-group">
                    <transition-group name="slide">
                        <li class="list-group-item"
                            v-for="(number, index) in numbers"
                            @click="removeItem(index)"
                            style="cursor: pointer;"
                            :key="number">
                            {{ number }}
                        </li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import SuccessAlert from './SuccessAlert.vue'
    import DangerAlert from './DangerAlert.vue'

    export default {
        data() {
            return {
                show: false,
                alertAnimation: 'fade',
                load: true,
                elementWidth: 100,
                selectedComponent: 'app-success-alert',
                numbers: [1, 2, 3, 4, 5]
            }
        },
        components: {
            'app-success-alert': SuccessAlert,
            'app-danger-alert': DangerAlert
        },
        methods: {
            beforeEnter(el) {
                console.log('beforeEnter')
                this.elementWidth = 100
                el.style.width = this.elementWidth + 'px'
            },
            enter(el, done) {
                console.log('enter')
                let round = 1
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth + round * 10) + 'px'
                    round++
                    if (round > 20) {
                        clearInterval(interval)
                        // let's Vue js know when the animation is done.
                        // Not required when using CSS
                        done()
                    }
                }, 20)
            },
            afterEnter(el) {
                console.log('after enter')
            },
            enterCancelled(el) {
                console.log('enter cancelled')
            },
            beforeLeave(el) {
                console.log('before leave')
                this.elementWidth = 300
                el.style.width = '300px'
            },
            leave(el, done) {
                console.log('leave')
                let round = 1
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth - round * 10) + 'px'
                    round++
                    if (round > 20) {
                        clearInterval(interval)
                        // let's Vue js know when the animation is done.
                        // Not required when using CSS
                        done()
                    }
                }, 20)
            },
            afterLeave(el) {
                console.log('after leave')
            },
            leaveCancelled(el) {
                console.log('leave cancelled')
            },
            addItem() {
                const pos = Math.floor(Math.random() * this.numbers.length)
                this.numbers.splice(pos, 0, this.numbers.length + 1)
            },
            removeItem(index) {
                this.numbers.splice(index, 1)
            }
        }
    }
</script>

<style>
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity 500ms;
    }

    .fade-leave {
        /*opacity: 1;*/
    }

    .fade-leave-active {
        transition: opacity 500ms;
        opacity: 0;
    }

    .slide-enter {
        /* unnecessary since already in keyframes */
        /*transform: translateY(20px);*/
        opacity: 0;
    }

    .slide-enter-active {
        animation: slide-in 1s ease-out forwards;
        transition: opacity .5s;
    }

    .slide-leave {
        /* unnecessary since already in position from slide-enter-active */
    }

    .slide-leave-active {
        animation: slide-out 1s ease-out forwards;
        transition: opacity .5s;
        opacity: 0;
        position: absolute;
    }

    .slide-move {
        transition: transform 1s;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(20px);
        }
    }
</style>
