<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHello2() }} - <a v-bind:href="link">Google</a></p>
    <hr>
    <p v-html="finishedLink"></p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello World!',
        link: 'http://www.google.com',
        finishedLink: `<a href="http://www.google.com">Google</a>`
      },
      methods: {
        sayHello: function() {
          return 'Hello!'
        },
        sayHello2: function() {
          return this.title
        }
      }
    })
  </script>
</body>

</html>